token = "cp-83ae9481-081xxx"
vault = "main-kv-mkoldov"
rg = "waf-rg"
vnet_cidr = "10.108.0.0/16"
subnet_cidr = "10.108.108.0/24"
admin_password = "Bad Joke 1234"

vmsize="Standard_DS2_v2"

az_clientid="xxx"
az_clientsecret="yyy"
az_tenantid="zzz"
az_subscription="qqq"